html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 90px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

#map {
  width: 60%;
  height: 100%;
  max-width: 100%;
  /* margin-top: 90px; */
  float: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#results {
  width: 40%;
  height: 100%;
  /* margin-top: 90px; */
  float: right;
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}

#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.panel-heading{
   width: 250px;
}
.panel-body{
  width: 250px;
}


.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}

.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}


/* Print Handling */
@media print {
  
  .leaflet-control-container {
    display: none !important;
  }
}

/* .CodeMirror {
    font-family: monospace;
    height: 90vh;
    color: black;
} */
.CodeMirror {
  font-size: 8pt;
  height: 86vh;
 
}

.generateCode {
  float: right;
  margin-right: 5px;
}
.logo .img {
  height: 80px;
}
.navbar-inverse {
    background-color: #F5FAFD;
    border-bottom: 3px solid #672E87;
    /* border-bottom-color: #672E87;
    border-width: 3px; */
}

.navbar-nav>li>a {
    padding-top:35px;
    padding-bottom: 15px;
}

.navbar-brand {
    float: left;
    height: 90px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #222;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #222;
}

button.btn {
  margin-left: 5px;
}
.asteriskField {
  color: red;
}